/*Titulo*/
/*Fondo*/
/*Texto*/
/*Barra de Navegacion/Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar {
  background-color: #6f1d1b; }
  .navbar .navIcon {
    width: 50px;
    margin-left: 10px; }
  .navbar .navbar-collapse {
    text-align: center; }
    .navbar .navbar-collapse .nav-link {
      color: white;
      font-family: "Fraunces", serif;
      font-size: 1.4rem; }
    .navbar .navbar-collapse .nav-link:hover {
      color: #bb9457; }
    .navbar .navbar-collapse .estoyEnPag {
      color: #bb9457; }

/*Home*/
.home {
  background-color: #bb9457; }
  .home .fondoIndex {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondomadera2.jpg);
    background-size: cover;
    height: 450px; }
    .home .fondoIndex .titulo {
      font-family: "Allison", cursive;
      font-size: 4.5rem;
      font-weight: bold;
      color: white; }
  .home .home_Menu {
    background-color: #bb9457;
    display: flex;
    justify-content: center; }
    .home .home_Menu .botones_Home:hover {
      color: white;
      transform: scale(1.1, 1.1); }
    .home .home_Menu .contenedorBotones {
      position: relative;
      overflow: hidden;
      height: 100px;
      margin-bottom: 10px;
      padding: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px; }
    .home .home_Menu .fondoBoton {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.5;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%; }
    .home .home_Menu .fb1 {
      background-image: url(../img/bar.jpg); }
    .home .home_Menu .fb2 {
      background-image: url(../img/fondocartaR.jpg); }
    .home .home_Menu .fb3 {
      background-image: url(../img/pizza.jpg); }
    .home .home_Menu .fb4 {
      background-image: url(../img/cafe2R.jpg); }
    .home .home_Menu .botones_Home {
      z-index: 2;
      text-decoration: none;
      font-family: "Fraunces", serif;
      font-size: 2rem;
      font-weight: bold;
      color: black; }
    .home .home_Menu #home_Icon {
      max-width: 400px;
      width: 100%; }

/*Acerca de nosotros*/
body {
  background-color: #bb9457; }
  body .fondoAbt {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(../img/local2.avif);
    background-size: cover;
    height: 450px;
    color: white; }
    body .fondoAbt .titulo {
      font-family: "Cormorant Garamond", serif;
      font-size: 4.5rem;
      font-weight: bold;
      color: white; }
  body .abt {
    display: flex;
    background-color: #bb9457;
    justify-content: center;
    align-items: center; }
    body .abt .imgAbt {
      max-height: 500px;
      margin: 10px 0px;
      max-width: 400px;
      width: 100%; }
    body .abt .abtText {
      text-align: center;
      font-family: "Fraunces", serif;
      font-weight: bold;
      font-size: 1.5rem;
      color: black;
      margin: 10px;
      margin: 40px auto; }
  body .abtRedes {
    display: flex;
    background-color: #bb9457;
    justify-content: center;
    align-items: center; }
    body .abtRedes .abtRedesItem {
      font-family: "Fraunces", serif;
      font-size: 1.5rem;
      color: white;
      text-decoration: none; }
    body .abtRedes .abtRedesItem:hover {
      color: #772e25; }
    body .abtRedes .abtRedesImg {
      width: 50px;
      margin: 5px; }
  body .mapaAbt {
    display: flex;
    justify-content: center;
    background-color: #bb9457; }

/*Carta virtual*/
.carta {
  background-color: #bb9457; }
  .carta .fondoCarta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondocartaR.png);
    background-size: cover;
    height: 450px;
    color: white;
    text-align: center; }
    .carta .fondoCarta .titulo {
      font-family: "Cormorant Garamond", serif;
      font-size: 4.5rem;
      font-weight: bold; }
  .carta .contenedorC {
    display: flex;
    justify-content: center;
    margin: auto; }
    .carta .contenedorC .cartaImg {
      max-width: 800px;
      width: 100%; }

/*Formulario de contacto*/
.fondoContac {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/fondomadera4R.jpg);
  background-size: cover;
  height: 450px;
  color: white;
  text-align: center; }
  .fondoContac .titulo {
    font-family: "Cormorant Garamond", serif;
    font-size: 4.5rem;
    font-weight: bold; }

.containerF {
  display: flex;
  background-color: #bb9457;
  height: 500px;
  margin: 20px 0; }
  .containerF .formulario {
    margin: auto;
    width: 800px; }
    .containerF .formulario .textoF {
      color: white;
      font-family: "Fraunces", serif;
      font-size: 1.2rem; }
      .containerF .formulario .textoF .linkTyC {
        color: #6f1d1b; }

/*Galeria*/
.galeria {
  background-color: #bb9457; }
  .galeria .fondoGal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondocafeR.jpg);
    background-size: cover;
    height: 450px;
    color: white; }
    .galeria .fondoGal .titulo {
      font-family: "Cormorant Garamond", serif;
      font-size: 4.5rem;
      font-weight: bold; }
  .galeria .imgGal {
    display: flex;
    justify-content: space-around; }
    .galeria .imgGal .imgs {
      margin: 10px 0;
      max-width: 700px;
      width: 100%; }
    .galeria .imgGal .imgs:hover {
      transform: scale(1.05, 1.05);
      transition: all 2s ease; }
  .galeria .carrusel {
    min-width: 200px;
    width: 80%;
    margin: auto; }

/*Footer*/
footer {
  height: 100px;
  background-color: #6f1d1b; }
  footer .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 500px; }
    footer .footer .contenedorFooter {
      margin-top: 20px;
      max-height: 50px;
      max-width: 300px; }
    footer .footer .footerItem {
      display: flex; }
    footer .footer .contacto,
    footer .footer .redes {
      font-family: "Cormorant Garamond", serif;
      color: white;
      font-size: 1.2rem;
      text-decoration: none; }
    footer .footer .redes:hover {
      color: #bb9457; }
