/*Titulo*/
/*Fondo*/
/*Texto*/
/*Barra de Navegacion/Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar {
  background-color: #6f1d1b; }
  .navbar .navIcon {
    width: 50px; }
  .navbar .nav-link {
    color: white;
    font-family: "Fraunces", serif;
    font-size: 1.4rem; }
  .navbar .nav-link:hover {
    color: #bb9457; }

/*Home*/
.home {
  background-color: #bb9457; }
  .home .fondoIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondobar2R.png);
    background-size: cover;
    height: 600px; }
    .home .fondoIndex .titulo {
      font-family: "Cormorant Garamond", serif;
      font-size: 4rem;
      font-weight: bold;
      color: white; }
  .home .home_Menu {
    background-color: #bb9457;
    display: flex;
    justify-content: center;
    height: 200px; }
    .home .home_Menu .botones_Home {
      text-decoration: none;
      margin-top: 50px;
      font-family: "Fraunces", serif;
      font-size: 2rem;
      font-weight: bold;
      color: black;
      width: 100px; }
    .home .home_Menu .botones_Home:hover {
      color: white;
      transform: scale(1.1, 1.1); }
  .home .text_home {
    font-family: 'Allison', cursive;
    font-size: 8rem;
    color: #bc6c25; }
  .home .home_Icon {
    height: 400px; }

/*Acerca de nosotros*/
.fondoAbt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/local2.avif);
  background-size: cover;
  height: 600px;
  color: white; }
  .fondoAbt .titulo {
    font-family: "Cormorant Garamond", serif;
    font-size: 4rem;
    font-weight: bold; }

.abt {
  display: flex;
  background-color: #bb9457;
  justify-content: center;
  align-items: center; }
  .abt .imgAbt {
    height: 500px;
    margin: 50px; }
  .abt .abtText {
    font-family: "Fraunces", serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    margin: 10px; }

.abtRedes {
  display: flex;
  background-color: #bb9457;
  justify-content: center;
  align-items: center; }
  .abtRedes .abtRedesItem {
    font-family: "Fraunces", serif;
    font-size: 1.5rem;
    color: white;
    text-decoration: none; }
  .abtRedes .abtRedesItem:hover {
    color: #772e25; }
  .abtRedes .abtRedesImg {
    width: 50px;
    margin: 5px; }

.mapaAbt {
  display: flex;
  justify-content: center;
  background-color: #bb9457; }

/*Carta virtual*/
.carta {
  background-color: #bb9457; }
  .carta .fondoCarta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondocartaR.png);
    background-size: cover;
    height: 600px;
    color: white; }
    .carta .fondoCarta .titulo {
      font-family: "Cormorant Garamond", serif;
      font-size: 4rem;
      font-weight: bold; }
  .carta .accordion {
    width: 80%;
    margin: auto; }
    .carta .accordion .accordion-button {
      background-color: #6f1d1b;
      font-family: "Fraunces", serif;
      font-size: 1.5rem;
      color: white;
      font-weight: bold;
      height: 100px; }
    .carta .accordion .accordion-body {
      background-color: #772e25; }
      .carta .accordion .accordion-body .cartaTexto {
        font-family: "Fraunces", serif;
        margin: 20px;
        color: white; }
    .carta .accordion .accordion-collapse {
      background-color: #bb9457; }

/*Formulario de contacto*/
.fondoContac {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/fondomadera4R.jpg);
  background-size: cover;
  height: 600px;
  color: white; }
  .fondoContac .titulo {
    font-family: "Cormorant Garamond", serif;
    font-size: 4rem;
    font-weight: bold; }

.containerF {
  display: flex;
  background-color: #bb9457;
  height: 500px; }
  .containerF .formulario {
    margin: auto;
    width: 1100px; }

/*Galeria*/
.galeria {
  background-color: #bb9457; }
  .galeria .fondoGal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondocafeR.jpg);
    background-size: cover;
    height: 600px;
    color: white; }
    .galeria .fondoGal .titulo {
      font-family: "Cormorant Garamond", serif;
      font-size: 4rem;
      font-weight: bold; }
  .galeria .imgGal {
    display: flex;
    justify-content: space-around; }
    .galeria .imgGal .imgs {
      margin: 10px;
      width: 700px; }
    .galeria .imgGal .imgs:hover {
      transform: scale(1.05, 1.05);
      transition: all 2s ease; }
  .galeria .carrusel {
    width: 80%;
    margin: auto; }

/*Footer*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  background-color: #6f1d1b; }
  .footer .footerItem {
    height: 25px;
    font-family: "Cormorant Garamond", serif;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    text-decoration: none; }
  .footer .redes:hover {
    color: #bb9457; }
