/*Titulo*/
$colorTitulo: white;
$fontTitulo: 'Cormorant Garamond', serif;
/*Fondo*/
$colorFondo: #bb9457;
$colorFondoSecundario:  #6f1d1b;
$colorFondoTerciario: #772e25;
/*Texto*/
$fontTexto: 'Fraunces', serif;
$colorTexto: black;