.carta {
    background-color: $colorFondo;

    .fondoCarta {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/fondocartaR.png);
        background-size: cover;
        height: 450px;
        color: $colorTitulo;
        text-align: center;

        .titulo {
            font-family: $fontTitulo;
            font-size: 4.5rem;
            font-weight: bold;
        }
    }

    .contenedorC {
        display: flex;
        justify-content: center;
        margin: auto;

        .cartaImg {
            max-width: 800px;
            width: 100%;
        }
    }


}