.fondoContac {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondomadera4R.jpg);
    background-size: cover;
    height: 450px;
    color: $colorTitulo;
    text-align: center;
    .titulo {
        font-family: $fontTitulo;
        font-size: 4.5rem;
        font-weight: bold;
    }
}

.containerF {
    display: flex;
    background-color: $colorFondo;
    height: 500px;
    margin: 20px 0;

    .formulario {
        margin: auto;
        width: 800px;
        .textoF{
            color: $colorTitulo;
            font-family: $fontTexto;
            font-size: 1.2rem;
            .linkTyC{
                color: $colorFondoSecundario;
            }
        }
    }
}