footer {
    height: 100px;
    background-color: $colorFondoSecundario;

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        max-height: 500px;

        .contenedorFooter {
            margin-top: 20px;
            max-height: 50px;
            max-width: 300px;
        }

        .footerItem {
            display: flex;

        }

        .contacto,
        .redes {
            font-family: $fontTitulo;
            color: $colorTitulo;
            font-size: 1.2rem;
            text-decoration: none;
        }

        .redes:hover {
            color: $colorFondo;
        }
    }
}