.fondoGal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondocafe.jpeg);
    background-size: cover;
    height: 600px;
    color: $colorTitulo;
    .titulo{
        font-family: $fontTitulo;
        font-size: 4rem;
        font-weight: bold;
    }   
}
.carouselExample{
    width: 100px;
}