.fondoIndex{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondobar2.jpg);
    background-size: cover;
    height: 600px;
    .titulo{
        font-family: $fontTitulo;
        font-size: 4rem;
        font-weight: bold;
        color: $colorTitulo;
    }
}

.home_Menu{
    background-color: $colorFondo;
    display: flex;
    justify-content: center;
    height: 200px;
    .botones_Home{
        text-decoration: none;
        margin-top: 50px;
        font-family: $fontTexto;
        font-size: 2rem;
        font-weight: bold;
        color: $colorTexto;
        width: 100px;
      
     }
     .botones_Home:hover{
        color: $colorTitulo;
    }
}

.text_home{
    font-family: 'Allison', cursive;
    font-size: 8rem;
    color: #bc6c25;
}

.home_Icon{
    height: 400px;
}
