*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: $colorFondoSecundario ;
    .navIcon{
        width: 50px;
    }
    .nav-link{
        color: $colorTitulo;
        font-family: $fontTexto;
        font-size: 1.4rem;
    }
    .nav-link:hover{
        color: $colorFondo;
    }
}


